/* general */

html, body {
    height: 100%;
    margin: 0;
}

.body {
    min-height: 78%;
}

.unstyled-link:hover {
    text-decoration: none;
}

p {
    font-size: large;
}

/* panier */

.cart input[type="number"] {
    width:40px;
 }

/* footer */

footer {
    background: black;
    color: white;
    /* margin-top: -53px; */
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: none;
    color: grey;
}