{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block body %}
    <h1>Créer une categorie</h1>

    {{ include('category/_form.html.twig') }}

    {% include 'footer.html.twig' %}
{% endblock %}
