{% extends 'base.html.twig' %}

{% block title %}Modifier {{product.name}} {% endblock %}

{% block body %}
    <h1 class="text-center">Modifier {{product.name}}</h1>

    {{ include('product/_form.html.twig', {'button_label': 'Modifier'}) }}
    
    {% include 'footer.html.twig' %}
    
{% endblock %}
