<!-- Footer -->
</div>
<footer class="footer container-fluid h-100">

    <!-- Copyright -->
    <div class="text-center py-3 my-auto">© 2020 Copyright - 
      <a href="https://mathieu-pionnier.netlify.app">Mathieu Pionnier</a>
    </div>
    <!-- Copyright -->
  
</footer>
<!-- Footer -->
