{% extends 'base.html.twig' %}

{% block title %}Hello OrdersController!{% endblock %}

{% block body %}
    <div class="bg-light p-3">
        <h1>Vos commandes</h1>
    </div>

    <div class="row">
        {% for order in orders %}
            {% if order.user.id == app.user.id %}
            <table class="table">
                <thead>
                    <tr>
                        <th>N° commande</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Commande n°{{ order.orderNumber }}</td>
                        <td>Effectuée le {{ order.orderedAt | date('d/m/Y à H:i') }}</td>
                    </tr>
                </tbody>
            </table>
            {% elseif not app.user.orders %}
                <p>Vous n'avez effectué aucune commande.</p>
            {% endif %}
            
        {% endfor %}
    </div>
{% endblock %}
